<ion-content class="landpage">
  <div class="content-wrapper">
    <div class="button-container">
      <ion-button class="get-started-button" fill="clear" [routerLink]="['/signin']">
        Get Started
        <ion-icon class="arrow-icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </div>
    <div class="welcome-section">
      <p>Follow Us</p>
      <div class="icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-youtube"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
