ion-content {
    --background: url(/assets/Images/landpage.png) center/cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; // Align content to the bottom
    align-items: center;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive; // Ensure the font is consistent
    padding-bottom: 20px; // Ensure there's some padding at the bottom
  }
  
  .content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; // To manage the absolute positioning of button
  }
  
  .button-container {
    position: absolute; // Ensure the button is placed correctly
    bottom: 100px; // Position the button 100px above the bottom of the wrapper
    margin-bottom: -40%;
  }
  
  .get-started-button {
    background-color: #191e11; // Black background color
    border-radius: 30px;
    padding: 0px 50px;
    font-size: 22px;
    font-weight: bold;
    color: white; 
  
    ion-icon {
      margin-left: 12px;
      color: white; 
    }
  }
  
  .welcome-section {
    color: #fff; // White text color
    padding: 20px; // Add some padding for spacing
    text-align: center; // Center the text within the div
    width: 100%; // Full width to ensure proper alignment
    margin-top: 160%; // Space between the welcome section and the button
  
    .icons {
      display: flex;
      justify-content: center;
      gap: 16px; // Space between icons
  
      ion-icon {
        font-size: 32px; // Adjust the size of the icons
        color: #191e11; // Pink color for the icons
      }
    }
  }
  