<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/landingpage"></ion-icon> <!-- back button -->
    </div>

  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <div class="logo"><img src="/assets/Images/logo.png" alt=""></div>
      <!-- Button Group -->
      <div class="button-group">
        <ion-button class="sign-in" [fill]="!isSignUp ? 'solid' : 'outline'" (click)="switchForm(false)">Sign
          In</ion-button>
        <ion-button class="sign-up" [fill]="isSignUp ? 'solid' : 'outline'" (click)="switchForm(true)">Sign
          Up</ion-button>
      </div>

      <!-- Form -->
      <form [formGroup]="signInForm" class="marginme">
        <!-- Sign In Form -->
        <div *ngIf="!isSignUp" class="signin1">
          <div class="email-form">
            <ion-item lines="full">
              <ion-input formControlName="email" type="text" placeholder="Username"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!signInForm.get('email')?.valid && signInForm.get('email')?.touched">
              <ion-text class="error" *ngIf="signInForm.get('email')?.hasError('required')">
                * Please enter email or username
              </ion-text>
            </ion-text>
          </div>

          <div class="password-form">
            <ion-item lines="full">
              <ion-icon [name]="type ? 'eye' : 'eye-off'" slot="end" color="medium" (click)="changeType()">
              </ion-icon>
              <ion-input formControlName="password" [type]="type ? 'password' : 'text'"
                placeholder="Password"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!signInForm.get('password')?.valid && signInForm.get('password')?.touched">
              <ion-text class="error" *ngIf="signInForm.get('password')?.hasError('required')">
                * Please enter your password
              </ion-text>
              <ion-text class="error"
                *ngIf="!signInForm.get('password')?.hasError('required') && signInForm.get('password')?.hasError('minlength')">
                * Please enter a password of at least 6 characters
              </ion-text>
            </ion-text>
          </div>
        </div>

        <!-- Sign Up Form -->
        <div *ngIf="isSignUp" class="">
          <div class="username-form">
            <ion-item lines="full">
              <ion-input formControlName="username" type="text" placeholder="Username"></ion-input>
            </ion-item>
          </div>

          <div class="password-form">
            <ion-item lines="full">
              <ion-icon [name]="type ? 'eye' : 'eye-off'" slot="end" color="medium" (click)="changeType()"></ion-icon>
              <ion-input formControlName="Password" [type]="type ? 'password' : 'text'"
                placeholder="Password"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!signInForm.get('password')?.valid && signInForm.get('password')?.touched">
              <ion-text class="error" *ngIf="signInForm.get('password')?.hasError('required')">
                * Please enter your password
              </ion-text>
              <ion-text class="error"
                *ngIf="!signInForm.get('password')?.hasError('required') && signInForm.get('password')?.hasError('minlength')">
                * Please enter a password of at least 6 characters
              </ion-text>
            </ion-text>
          </div>

          <div class="password-form">
            <ion-item lines="full">
              <ion-icon [name]="typeConfirmPassword ? 'eye' : 'eye-off'" slot="end" color="medium"
                (click)="changeConfirmPasswordType()"></ion-icon>
              <ion-input formControlName="confirmPassword" [type]="typeConfirmPassword ? 'password' : 'text'"
                placeholder="Confirm Password"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="!signInForm.get('confirmPassword')?.valid && signInForm.get('confirmPassword')?.touched">
              <ion-text class="error" *ngIf="signInForm.get('confirmPassword')?.hasError('required')">
                * Please confirm your password
              </ion-text>
              <ion-text class="error"
                *ngIf="!signInForm.get('confirmPassword')?.hasError('required') && signInForm.get('confirmPassword')?.hasError('minlength')">
                * Please enter a password of at least 6 characters
              </ion-text>
            </ion-text>
          </div>


        </div>
      </form>

      <p class="forgot-text" *ngIf="!isSignUp">
        <ion-text style="color: rgb(38, 38, 38);">Forgot password?</ion-text>
      </p>

      <div class="ion-margin-horizontal">
        <ion-button class="ion-margin-horizontal" size="large" expand="block" shape="round" color="primary"
          (click)="onSubmit()" routerLink="/landingpage">
          <ion-text>{{ isSignUp ? 'Sign Up' : 'Log In' }}</ion-text>
        </ion-button>
      </div>

      <div class="line-text">
        <span class="text">Or connect using</span>
        <span class="lines"></span>
      </div>


      <!-- Social Login Buttons -->
      <div class="socials">
        <ion-button class="btn-fb" id="openfb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="btn-tw" id="opentw">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button class="btn-go" id="opengo">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="btn-ph" id="openph">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


<!-- fb sign in modal -->

<ion-modal id="example-modal" #modal trigger="openfb">
  <ng-template>
    <div class="wrapper">
      <div class="logo-container" style="border-bottom: 1px solid black;"><img src="./assets/Images/facebook.png" alt="" class="logo">
        <h5>Sign in with Facebook</h5></div>
      <div class="line"></div>
      <div class="container1" style="margin-top: -15px;">
        <img src="./assets/Images/logo.png" alt="" style="width: 150px; margin-left: -20px;">
        <span><h1 style="font-weight: bolder; margin-left: -3px;">Sign In</h1><p style="margin-top: -10px;">to continue to <a href="#" style="text-decoration: none; color: green;">BinaryBrew</a> </p></span><br>
        <input type="text" placeholder="Email or phone" class="input">
        <div class="bef">Before using this app you can view BinaryBrew <a href="" style="text-decoration: none; color: green;">privacy policy</a> and <a href="" style="text-decoration: none; color: green;">terms of services.</a></div>
        <div class="cre" style="font-weight: bold;">Create Account
          <ion-button class="btn" id="openfbpass" >Next</ion-button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>


<!-- twitter sign in modal -->

<ion-modal id="example-modal" #modal trigger="opentw">
  <ng-template>
    <div class="wrapper">
            <div class="logo-container" style="border-bottom: 1px solid black;"><img src="./assets/Images/twitter.png" alt="" class="logo">
        <h5>Sign in with Twitter</h5></div>
      <div class="line"></div>
      <div class="container1" style="margin-top: -15px;">
        <img src="./assets/Images/logo.png" alt="" style="width: 150px; margin-left: -20px;">
        <span><h1 style="font-weight: bolder; margin-left: -3px;">Sign In</h1><p style="margin-top: -10px;">to continue to <a href="#" style="text-decoration: none; color: green;">BinaryBrew</a> </p></span><br>
        <input type="text" placeholder="Email or phone" class="input">
        <div class="bef">Before using this app you can view BinaryBrew <a href="" style="text-decoration: none; color: green;">privacy policy</a> and <a href="" style="text-decoration: none; color: green;">terms of services.</a></div>
        <div class="cre">Create Account
          <ion-button class="btn">Next</ion-button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<!-- google sign in modal -->

<ion-modal id="example-modal" #modal trigger="opengo">
  <ng-template>
    <div class="wrapper" >
            <div class="logo-container" style="border-bottom: 1px solid black;"><img src="./assets/Images/google.png" alt="" class="logo">
        <h5>Sign in with Google</h5></div>
      <div class="container1">
        <img src="./assets/Images/logo.png" alt="" style="width: 150px; margin-left: -20px;">
        <span><h1 style="font-weight: bolder; margin-left: -3px;">Sign In</h1><p style="margin-top: -10px;">to continue to <a href="#" style="text-decoration: none; color: green;">BinaryBrew</a> </p></span><br>
        <input type="text" placeholder="Email or phone" class="input">
        <div class="bef">Before using this app you can view BinaryBrew <a href="" style="text-decoration: none; color: green;">privacy policy</a> and <a href="" style="text-decoration: none; color: green;">terms of services.</a></div>
        <div class="cre">Create Account
          <ion-button class="btn">Next</ion-button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<!-- whatsapp sign in modal -->

<ion-modal id="example-modal" #modal trigger="openph">
  <ng-template>
    <div class="wrapper">
            <div class="wrapper" >
            <div class="logo-container" style="border-bottom: 1px solid black;"><img src="./assets/Images/whatsapp.png" alt="" class="logo">
        <h5>Sign in with Whatsapp</h5></div>
      <div class="container1">
        <img src="./assets/Images/logo.png" alt="" style="width: 150px; margin-left: -20px;">
        <span><h1 style="font-weight: bolder; margin-left: -3px;">Sign In</h1><p style="margin-top: -10px;">to continue to <a href="#" style="text-decoration: none; color: green;">BinaryBrew</a> </p></span><br>
        <input type="text" placeholder="Email or phone" class="input">
        <div class="bef">Before using this app you can view BinaryBrew <a href="" style="text-decoration: none; color: green;">privacy policy</a> and <a href="" style="text-decoration: none; color: green;">terms of services.</a></div>
        <div class="cre">Create Account
          <ion-button class="btn" id="openphpass">Next</ion-button>
        </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>