ion-content {
  --background: linear-gradient(135deg, rgb(255, 255, 255), #365E32);

  #header {
    height: 80%;
    background: #225b1e;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 0 0px 80px 80px;
    

    #app-bar {
      height: 60px;
      padding: 0 px;
      display: flex;
      margin-left: 10px;
      color: #93A87D;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 24px;
      }
    }

    #logo {

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      align-self: center;
      margin-top: -29%;

  

      img {
        max-width: 50vh;
      }
    }

    h2 {
      text-align: center;
      font-weight: bold;
      margin: 0;
      font-size: 20px;
      letter-spacing: 1px;
      margin-top: 5px;
    }
  }
  .button-group {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Add space between buttons */
  margin-top: -10px; /* Adjust spacing */ 
  
}

.button-group ion-button {
  --border-radius: 20px;
}

ion-button.sign-up {
  z-index: 1;
  width: 200px;
  margin-left: 40px;
  position: absolute;
  text-align: right; 
  --padding-start: 100px; 
  --padding-end: 20px; 
 
}

ion-button.sign-in {
  z-index: 2;
  width: 120px;
  margin-left: -100px;
  position: absolute;
}

ion-input {
  --background: transparent; 
  --border-color: #ccc;
  --box-shadow: none; 
  
}

/* Remove background for ion-item containers */
ion-item {
  --background: transparent; 
  --border-color: transparent; 
  --padding-start: 0;
  --padding-end: 0;
  
}

.email-form{
  margin-top: 100px;

}

  ion-card{
    height: 800px;
      box-shadow: none;
      position: absolute;
      top: 23%;
      left: 5%;
      right: 5%;
      border-radius: 20px;
      --background: #1e3a1c;
      max-height: 450px;

      h1{
        font-weight: bold;
        font-size: 19px;
        text-align: center; 
        margin-bottom: 5px;
        color: #93A87D;

      }
      p{
        text-align: center;
        font-size: 16px;
        margin-bottom: 15px;
        color: #93A87D;
      }
      ion-button{
        height: 40px;
        --box-shadow: none;
        text-transform: initial;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 400;
        
      }
      .line-text{
        padding: 2px;
        margin-top: 0px;
        position: relative;
        height: 20px;

        .lines{
          margin-top: 0px;
          height: 1px;
          background: #858585;
          display: block;
        }
        .text{
          display: block;
          text-align: center;
          transform: translateY(-30%);
          background: #1e3a1c;
          padding: 0 15px;
          font-size: 12px;
          font-weight: 500;
          color: #93A87D;
          margin-top: 25px;
          
        }
      }
      .socials{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        ion-buton{
          margin: 0 5px;
          --padding-start: 12px;
          --padding-end: 12px;

          ion-icon{
            font-style: 18px;
          }
        }
        .btn-fb{
          --background: #567aa3;
        }
        .btn-tw{
          --background: #48cff8;
        }
        .btn-go{
          --background: #fd684f;
        }
        .btn-ph{
          --background: #737373;
        }
      }
  }
}