<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/landingpage"></ion-icon> <!-- back button -->
    </div>

    <div id="logo">
      <img src="assets/Images/logo.png" alt="logo">
    </div>
  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <!-- Button Group -->
      <div class="button-group">
        <ion-button class="sign-in" [fill]="!isSignUp ? 'solid' : 'outline'" (click)="switchForm(false)">Sign
          In</ion-button>
        <ion-button class="sign-up" [fill]="isSignUp ? 'solid' : 'outline'" (click)="switchForm(true)">Sign
          Up</ion-button>
      </div>

      <!-- Form -->
      <form [formGroup]="signInForm" class="marginme">
        <!-- Sign In Form -->
        <div *ngIf="!isSignUp" class="signin1">
          <div class="email-form">
            <ion-item lines="full">
              <ion-input formControlName="email" type="text" placeholder="Username"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!signInForm.get('email')?.valid && signInForm.get('email')?.touched">
              <ion-text class="error" *ngIf="signInForm.get('email')?.hasError('required')">
                * Please enter email or username
              </ion-text>
            </ion-text>
          </div>

          <div class="password-form">
            <ion-item lines="full">
              <ion-icon [name]="type ? 'eye' : 'eye-off'" slot="end" color="medium" (click)="changeType()">
              </ion-icon>
              <ion-input formControlName="password" [type]="type ? 'password' : 'text'"
                placeholder="Password"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!signInForm.get('password')?.valid && signInForm.get('password')?.touched">
              <ion-text class="error" *ngIf="signInForm.get('password')?.hasError('required')">
                * Please enter your password
              </ion-text>
              <ion-text class="error"
                *ngIf="!signInForm.get('password')?.hasError('required') && signInForm.get('password')?.hasError('minlength')">
                * Please enter a password of at least 6 characters
              </ion-text>
            </ion-text>
          </div>
        </div>

        <!-- Sign Up Form -->
        <div *ngIf="isSignUp" class="">
          <div class="username-form">
            <ion-item lines="full">
              <ion-input formControlName="username" type="text" placeholder="Username"></ion-input>
            </ion-item>
          </div>

          <div class="password-form">
            <ion-item lines="full">
              <ion-icon [name]="type ? 'eye' : 'eye-off'" slot="end" color="medium" (click)="changeType()">
              </ion-icon>
              <ion-input formControlName="Password" [type]="type ? 'password' : 'text'"
                placeholder="Password"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!signInForm.get('password')?.valid && signInForm.get('password')?.touched">
              <ion-text class="error" *ngIf="signInForm.get('password')?.hasError('required')">
                * Please enter your password
              </ion-text>
              <ion-text class="error"
                *ngIf="!signInForm.get('password')?.hasError('required') && signInForm.get('password')?.hasError('minlength')">
                * Please enter a password of at least 6 characters
              </ion-text>
            </ion-text>
          </div>
          <div class="password-form">
            <ion-item lines="full">
              <ion-icon [name]="type ? 'eye' : 'eye-off'" slot="end" color="medium" (click)="changeType()">
              </ion-icon>
              <ion-input formControlName="password" [type]="type ? 'password' : 'text'"
                placeholder="Confirm Password"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!signInForm.get('password')?.valid && signInForm.get('password')?.touched">
              <ion-text class="error" *ngIf="signInForm.get('password')?.hasError('required')">
                * Please enter your password
              </ion-text>
              <ion-text class="error"
                *ngIf="!signInForm.get('password')?.hasError('required') && signInForm.get('password')?.hasError('minlength')">
                * Please enter a password of at least 6 characters
              </ion-text>
            </ion-text>
          </div>


        </div>
      </form>

      <p class="forgot-text" *ngIf="!isSignUp">
        <ion-text color="medium">Forgot password?</ion-text>
      </p>

      <div class="ion-margin-horizontal">
        <ion-button class="ion-margin-horizontal" size="large" expand="block" shape="round" color="primary"
          (click)="onSubmit()">
          <ion-text>{{ isSignUp ? 'Sign Up' : 'Log In' }}</ion-text>
        </ion-button>
      </div>

      <div class="line-text">
        <span class="text">Or connect using</span>
        <span class="lines"></span>
      </div>

      <!-- Social Login Buttons -->
      <div class="socials">
        <ion-button class="btn-fb" id="openfb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="btn-tw" id="opentw">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button class="btn-go" id="opengo">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="btn-ph" id="openph">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal id="example-modal" #modal trigger="openfb">
  <ng-template>
    <div class="wrapper">
      <h1>Sign in with Facebook</h1>
      <div class="line"></div>
      <div class="container1">
        <img src="./assets/Images/logo.png" alt="">
        <span>Sign In<br>to continue to BinaryBrew</span>
        <input type="text" placeholder="Email or phone" class="input">
        <div class="bef">Before using this app you can view BinaryBrew privacy policy and terms of services</div>
        <div class="cre">create account
          <ion-button class="btn">Next</ion-button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="example-modal" #modal trigger="opentw">
  <ng-template>
    <div class="wrapper">
      <h1>Sign in with Twitter</h1>
      <div class="line"></div>
      <div class="container1">
        <img src="./assets/Images/logo.png" alt="">
        <span>Sign In<br>to continue to BinaryBrew</span>
        <input type="text" placeholder="Email or phone" class="input">
        <div class="bef">Before using this app you can view BinaryBrew privacy policy and terms of services</div>
        <div class="cre">create account
          <ion-button class="btn">Next</ion-button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="example-modal" #modal trigger="opengo">
  <ng-template>
    <div class="wrapper">
      <h1>Sign in with Google</h1>
      <div class="line"></div>
      <div class="container1">
        <img src="./assets/Images/logo.png" alt="">
        <span>Sign In<br>to continue to BinaryBrew</span>
        <input type="text" placeholder="Email or phone" class="input">
        <div class="bef">Before using this app you can view BinaryBrew privacy policy and terms of services</div>
        <div class="cre">create account
          <ion-button class="btn">Next</ion-button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="example-modal" #modal trigger="openph">
  <ng-template>
    <div class="wrapper">
      <h1>Sign in with Phone</h1>
      <div class="line"></div>
      <div class="container1">
        <img src="./assets/Images/logo.png" alt="">
        <span>Sign In<br>to continue to BinaryBrew</span>
        <input type="text" placeholder="Email or phone" class="input">
        <div class="bef">Before using this app you can view BinaryBrew privacy policy and terms of services</div>
        <div class="cre">create account
          <ion-button class="btn">Next</ion-button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>