<ion-content class="shopping-cart">

  <ion-header class="checkout-header">
    <ion-button fill="clear" class="back-button" routerLink="/home">
      <ion-icon name="arrow-back-outline" ></ion-icon>
    </ion-button>
    <h1>SHOPPING CART</h1>
  </ion-header> 
 
  <ion-content>
    <div class="cart-container">
      <div class="cart-item">
        <img src="/assets/Images/latte/macha-latte.png" alt="Matcha Latte" />
        <div class="item-details">
          <h3>Matcha Latte</h3>
          <p>Size: Grande</p>
          <div class="quantity" >
            <ion-button style="--background: #2a6829c9;" size="small" >-</ion-button>
            <span>1</span>
            <ion-button  style="--background: #2a6829c9;" size="small">+</ion-button>
          </div>
          <p class="price">₱ 110.00</p>
        </div>
      </div>
    </div>

    <div class="cart-container">
      <div class="cart-item">
        <img src="/assets/Images/latte/cafe-latte.png" alt="Matcha Latte" />
        <div class="item-details">
          <h3>Cafe Latte</h3>
          <p>Size: Grande</p>
          <div class="quantity">
            <ion-button  style="--background: #2a6829c9;" size="small">-</ion-button>
            <span>1</span>
            <ion-button  style="--background: #2a6829c9;" size="small">+</ion-button>
          </div>
          <p class="price">₱ 110.00</p>
        </div>
      </div>
    </div>

    <div class="summary-container">
      <div class="promo-code">
        <ion-input placeholder="Promo Code"></ion-input>
        <ion-button style="--background: #2a6829; --color: white;">APPLY</ion-button>
      </div>

      <div class="summary">
        <div class="summary-row">
          <span>Subtotal</span>
          <span>₱ 220.00</span>
        </div>
        <div class="summary-row">
          <span>Shipping Fee</span>
          <span>₱ 100.00</span>
        </div>
        <div class="summary-row total">
          <span>Total</span>
          <span>₱ 320.00</span>
        </div>
      </div>

      <ion-button expand="block" class="checkout-btn" routerLink="/checkout">
        PROCEED TO CHECK OUT
      </ion-button>
    </div>
  </ion-content>
</ion-content>