<ion-content>
    <ion-header>
        <div class="header-container">
            <!-- Search Bar and Cart Button in the same line -->
            <div class="search-container">
                <ion-input placeholder="Search..." type="text"></ion-input>
                <ion-button fill="solid" size="small" class="search-button">
                    <ion-icon name="search-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" class="cart-button">
                    <ion-icon name="cart-outline"></ion-icon>
                </ion-button>
            </div>

            <!-- Title, Left-Aligned -->
            <h1 class="coffee-title">The Best Coffee in Town</h1>

            <!-- Subtitle with Hot Icon, Left-Aligned -->
            <div class="most-popular">
                <ion-icon name="flame-outline" class="hot-icon" style="color: red;"></ion-icon>
                <span>Most Popular</span>
            </div>
        </div>
        <div class="curve"></div>
        <div class="curve"></div>
    </ion-header>


    <div class="product-scroll-container">
    <!-- start ng product -->

            <div style="padding-left: 10px;"></div>
            
            <app-product-card
            [productName]="'Macchiato'"
            [productPrice]="'P119.00'"
            [productImage]="'assets/Images/latte/caramel-macchiato-latte.png'"
            [rating]="9.2"
            [isFavorite]="true">
            </app-product-card>

            <app-product-card
            [productName]="'Spanish Latte'"
            [productPrice]="'P119.99'"
            [productImage]="'assets/Images/latte/spanish-latte.png'"
            [rating]="9.1"
            [isFavorite]="true">
            </app-product-card>

            <app-product-card 
            [productName]="'Mocha Latte'"
            [productPrice]="'119.00'"
            [productImage]="'assets/Images/latte/mocha-latte.png'"
            [rating]="8.9"
            [isFavorite]="true">
            </app-product-card>

            <app-product-card
            [productName]="'Chocolate Latte'"
            [productPrice]="'119.00'"
            [productImage]="'assets/Images/latte/australian-chocolate-latte.png'"
            [rating]="8.7"
            [isFavorite]="true">
            </app-product-card>
    </div> 
       
    <div class="product-scroll-container1">
    <!-- start ng product -->
        <div style="padding-left: 10px;"></div>
    
        <app-product-card-component1
        [productName1]="'Hazelnut'"
        [productPrice1]="'69.00'"
        [productImage1]="'assets/Images/pastry/hazelnut-croissant.png'"
        [rating1]="9.1"
        [isFavorite1]="true">
        </app-product-card-component1>

        <app-product-card-component1
        [productName1]="'ChocoDonut'"
        [productPrice1]="'69.00'"
        [productImage1]="'assets/Images/pastry/chococolate-donut.png'"
        [rating1]="9.1"
        [isFavorite1]="true">
        </app-product-card-component1>

        <app-product-card-component1
        [productName1]="'Cheese Croissant'"
        [productPrice1]="'79.00'"
        [productImage1]="'assets/Images/pastry/cheese-croissant.png'"
        [rating1]="8.9"
        [isFavorite1]="true">
        </app-product-card-component1>

        <app-product-card-component1
        [productName1]="'Macchiato'"
        [productPrice1]="'79.00'"
        [productImage1]="'assets/Images/pastry/mushroom-chicken.png'"
        [rating1]="8.7"
        [isFavorite1]="true">
        </app-product-card-component1>
    </div>




    <ion-tabs #tabs [(ngModel)]="selectTab">
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="menu">
                <ion-icon name="restaurant-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="search" class="searchicon">
                <ion-icon name="search-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="order-history" class="histicon">
                <ion-icon name="time-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="profile">
                <ion-icon name="person-outline"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>

        <!-- Floating Button in the center -->
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button routerLink="/home">
                <ion-icon name="home-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-tabs>
</ion-content>